<div class="span12">

<div class="hero-unit">
<p>
</p><h2>About the OLAC Movie &amp; Video Credit Annotation Experiment</h2>
<p>
<a href="http://olac-annotator.org">The OLAC Movie &amp; Video Credit Annotation Experiment</a>
is part of a larger project to make it easier to find film and video in libraries and archives. This experiment breaks current movie records down to pull out all the cast and crew information so that it may be re-ordered and manipulated. We also want to make explicit connections between cast and crew names and their roles or functions in the movie production. Adding these formal connections to movie records will allow us to provide a better user experience. For example, library patrons would be able to search just for directors or just for cast members or only for movies where Clint Eastwood is actually in the cast rather than all the movies that he is connected with. Libraries would have the flexibility to create more standardized and readable displays of production credits, such as you see at
<a href="http://www.imdb.com/title/tt1205489/" class="page-link" target="_blank">IMDb,</a>
rather than views like a
<a href="http://janus.uoregon.edu/record=b3958782" class="page-link" target="_blank">typical library catalog.</a>
</p>
<p>
We therefore want to convert our existing records into more structured sets of data. Eventually, we intend to automate most of this conversion. For now, we need help from human volunteers, who can train our software to recognize the many ways names and roles have been listed in library records for movies.
</p>
<p>
{{#linkTo 'more' }}Longer explanation with more library jargon can be found here.{{/linkTo}}
</p>
<p>
More background information about the project is available on the
<a href="http://www.olacinc.org/drupal/?q=node/27" class="page-link" target="_blank">OLAC website</a>
</p>
<p>
<a class='page-link' href='http://olac-annotator.org'>Get started</a> annotating credits now. If you're interested in contributing to the larger project, contact <a class="page-link" href="mailto:kelleym@uoregon.edu" target="_blank">Kelley McGrath.</a>
</p>
<p></p>
</div>

</div>
