<div class="span6 offset3 language-of-role-inner">
   <label  for="nlp_Language of role or function">Language of role or function:</label> 
   <div class="language-of-role-select">

     {{view App.LanguageOfRoleOrFunctionMaster }} 
     <i {{bindAttr class="roleLanguageError:icon-exclamation-sign:icon-ok"}}></i>
      <a class="annon_tooltip" data-html="true" data-original-title="Identify what language is used for the role or function term(s) in the credit. Examples of roles and functions are 'producer,' 'cinematography,' 'directed by' 'presents' or 'a … film' where the credit says something like 'a Clint Eastwood film.'&lt;br/&gt;&lt;br/&gt; If there are no role or function terms in the credit, choose “no role/function specified." data-toggle="tooltip" rel="tooltip"><i class='icon-question-sign'></i></a>
      {{#if roleLangGuess }}We think this film or video is in {{ roleLangGuess }}. {{else}} Please select a language. {{/if}}
    </div>
</div>