<div class="span12">

<div class="hero-unit">
<p>
</p><h2>Credits</h2>
<p class="lead">
Conceived by Kelley McGrath
<br>
Developed by Chris Fitzpatrick
<br>
<br>
The OLAC Movie &amp; Video Credit Annotation Experiment is part of a larger exploration of the
possibilities of leveraging the Functional Requirements for Bibliographic Records (FRBR) model
and faceted search to improve access to moving image materials held by libraries and archives.
Many people have contributed to previous work, including the reports of an
<a href="http://www.olacinc.org/drupal/?q=node/27" class="page-link" target="_blank">OLAC Cataloging Policy Committee task force</a>
and
<a href="https://blazing-sunset-24.heroku.com" class="page-link" target="_blank">a prototype end user interface.</a>

<br>
<br>
This experiment was funded by a Richard and Mary Corrigan Solari Library Fellowship Incentive Award from the University of Oregon Libraries.
</p>
<p></p>
</div>

</div>