<div class="hero-unit">
<p>
</p><h2>
Make it easier to find movies in libraries.
Help us connect people"s names with their roles or functions.
Annotate credits from library data so we can train a computer to do this on a large scale.
Pick a category and get started…
</h2>
<p></p>
<div class="text-center home-buttons" >

{{view Bootstrap.LanguageButtonDropdown itemsBinding=App.index_page_languages label="Select A Language"}}

</div>
</div>