<div class="hero-unit">
            <p>
              </p><h2>Longer explanation with more library jargon</h2>
              <p>
                Inspired by the
                <a href="http://www.ifla.org/publications/functional-requirements-for-bibliographic-records" class="page-link" target="_blank">Functional Requirements for Bibliographic Records (FRBR) model</a>
                and the potential of
                <a href="http://en.wikipedia.org/wiki/Faceted_search" class="page-link" target="_blank">faceted navigation,</a>
                we hope to build on
                <a href="http://blazing-sunset-24.heroku.com/" class="page-link" target="_blank">our prototype</a>
                to develop a movie-centric discovery interface for films and videos in libraries. We want to make it easier to find movies in libraries and also to make more interesting searches and displays possible. In order to do this without recataloging all the films and videos already in libraries, we plan to extract relevant data from existing catalog records and, where needed, modify it so that it is understandable not only to a human looking at the data, but also to a machine.
              </p>
              <p>
                The OLAC Movie &amp; Video Credit Annotation Experiment contributes to the development of tools to do the necessary data modification. Library catalog records currently include many free-text credits, such as
                </p><ol>
                  <li>directed by Clint Eastwood</li>
                  <li>screenplay by William Broyles Jr. and Paul Haggis</li>
                </ol>
                They also contain standardized forms of names, such as
                <ol>
                  <li>Eastwood, Clint, 1930-</li>
                </ol>
              <p></p>
              <p>
                A person looking at the record can tell that Clint Eastwood directed the movie. A person could also use the standardized form of his name to find other movies involving Clint Eastwood since those records will have the same standardized form. However, it isn't easy for a computer to put these two pieces of information together to conclude that "Eastwood, Clint, 1930-" is the director of the movie.
              </p>
              <p>
                Natural language processing tries to bridge this gap by developing methods for a computer to analyze and work with naturally-occurring human language as opposed to structured input. We are using a natural language processor to help the computer connect up the names and roles in library records. However, the processor will work better if it is first fed a set of training data with the right answers. It would also be helpful to have a set of hand-annotated correct answers to use for evaluation purposes when experimenting with different approaches or algorithms. This is where you come in. By filling in the forms on this site with the correct answers, you will help us train the computer to do a better job of parsing the data in library records.
              </p>
              <p>
                If we are able to connect the roles and functions, it will enable us to create more flexible and useful displays and provide more targeted search options. Moving images are usually identified by title and year or title and director so if we can identify the director's name, it will make it easier to match library records with external information about the same moving image.
              </p>
              <p>
                More background information is available on the
                <a href="http://www.olacinc.org/drupal/?q=node/27" class="page-link" target="_blank">OLAC website</a>
              </p>
              <p>
                If you're interested in contributing to this project, contact
                <a class="page-link" href="mailto:kelleym@uoregon.edu" target="_blank">Kelley McGrath.</a>
              </p>
            <p></p>
          </div>